
body{
    /* background: linear-gradient(135deg,#bfdbfe 0%,#3b82f6 50%,#1e3a8a 100%);    */
      background-color: #F8FAFC; 
     /* background: linear-gradient(135deg,#dbeafe 0%,#60a5fa 40%,#1d4ed8 100%); */
         background-size: cover;
    height:100%;
    width:100%;
    color: #0F172A;
    
}

.navbar{
    display: flex;
    width: 100%;
    height: 40px;
    /* background:linear-gradient(90deg,#8a6d3b,#c29032); */
     background-color: #0F172A; 
    align-items:center;
    justify-content: space-evenly;
    font-size: large;
    border: 1px;
    font-weight: 630;
    color:#F8FAFC;

}

a{
    color:#F8FAFC;
    text-decoration: none;
}

a:hover{
    color:#3B82F6;
    border:solid 2px black;
}

h1{
    text-align: center;
    font-weight:700;
}
h2{
     margin-top: 7%;
    text-align: center;
   
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
section{
    margin-top: 10%;
   
}
.info{
    
    text-align: justify;
    max-width: 70%;
    font-size: large;
    line-height: 1.8;
    margin:15px 0;
   
}
.email{
    display:flex;
   margin-top:15%;
   
}

.profile{
   border-radius: 50%;
   size-adjust: 10px;
    margin-right:80px;
    margin-right:5%;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 14%;
}
button{
    height: 30px;
    border-radius: 2.7px;
    background-color:#3B82F6;
    font-weight: 550;
    
}
button:hover{
    background-color: #2563EB;
}
.proj{

   font-size: large;
   line-height: 1.8;
    justify-content: center;
    text-align:center;
    margin:30px 0;
}
.projList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    padding: 40px;
    margin: 0 auto;    
}
.pro1{
    height: 260px;
    width: 350px;
}
.proj1{
    border: solid 2px rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 4px;
    background-color: #FFFFFF;
   
}
.pro2{
    height: 260px;
    width: 350px;
}
.proj2{
    border: solid 2px rgba(0,0,0,0.1);
   padding: 40px;
   border-radius: 4px; 
   background-color: #FFFFFF;  
}
.skilllist{
    font-size: large;
   line-height: 1.8;
    justify-content: center;
    text-align:center;
  
    margin-top: 5%;
  
}
.box1{
      display:flex;
    justify-content: center;
    align-items: center;
   font-weight:600px;
}
.skill1{
    height: 30px;
    width: 35px;
    margin-right: 10px;
    

}
.box2{
      display:flex;
    justify-content: center;
    align-items: center;
   
}
.skill2{
    height: 32px;
    width: 35px;
    margin-right: 10px;

}
.box3{
      display:flex;
    justify-content: center;
    align-items: center;
   
}
.skill3{
    height: 36px;
    width: 35px;
    margin-right: 10px;

}
.box4{
      display:flex;
    justify-content: center;
    align-items: center;
   
}
.skill4{
    height: 30px;
    width: 47px;
    margin-right: 10px;

}

.html{
    border-radius:10%;
    justify-content: center;
    margin: 5px;
    border: 2px solid black;
    padding :5px;
}
.css{
    border-radius:10%;
    justify-content: center;
    margin: 10px 10px 5px 5px;
    border: 2px solid black;
    padding :5px;
}
.js{
    border-radius:10%;
    justify-content: center;
    margin: 5px;
    border: 2px solid black;
   padding :5px;
}
progress{
    margin-left: 30px;
    size: 300px 200px;
    text-align: center;
    padding:12px;
    accent-color: rgb(8, 8, 8);
}
.labels{
   display: inline-block;
    box-sizing: border-box ;
    margin-top: 5%;
    margin-bottom: 10%;
    padding:16px;
    width:50%;
    font-weight: 800;
}
    input[type='text'],
    input[type='email'],input[type='number']{
    width:100%;
    padding:15px;
    margin:5px 0 22px 0;
    display: inline-block;
    border:solid black 2px;
    border-radius: 10px;
    background-color: beige;
}

.contactinfo{
    margin-top: 5%;
    margin-bottom: 10%;
}

html{
   scroll-behavior: smooth;
}
.bk{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20%;
}
.skill{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sk{
    height: 330px;
    width: 450px;
    margin-left: 150px;
}